{% extends 'base.html.twig' %}

{% block title %}Modifier Episode {{ episode.number }}{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <h2>Modifier l'épisode</h2>

        <h3 class="mt-lg-4 mt-md-5">{{ episode.season.program.title }} - {{ episode.season.year }}</h3>

        <div class="my-3">
            {{ include('episode/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>

        <div class="mt-4">
            <a href="{{ path('episodes_index', {'id': episode.season.program.id}) }}" class="back_crud">
                <i class='fa fa-mail-reply mr-2'></i>
                Retour à la liste des épisodes</a>
        </div>

    </div>

{% endblock %}
