{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container mt-3">
        <h2>Tous les épisodes</h2>

        <div>
            {% for category in categories %}
                <h3>{{ category.name }}</h3>

                <div class="row">

                    {% for program in category.programs|sort((a, b) => a.title <=> b.title) %}
                        <div class="col-lg-6 col-md-12 mb-5 align-content-center">
                            <h5>
                                <span>__</span> {{ program.title }}
                            </h5>

                            <div class="row">
                                {% for season in program.seasons %}
                                    <div>
                                        <a href="{{ path('episode_new', {'id': season.id}) }}" class="addProgram">
                                            Ajouter un épisode</a>
                                    </div>
                                    <div class="col-2">
                                        <div>{{ season.year }}:</div>
                                    </div>
                                    <div class="col-10 d-flex flex-column">
                                        {% for episode in season.episodes %}
                                            <div>
                                                {{ episode.number }} - {{ episode.title }}
                                                <a href="{{ path('episode_show', {'id': episode.id}) }}"
                                                   class="ml-2 details-season">+ détails</a>
                                            </div>
                                        {% endfor %}
                                    </div>

                                {% endfor %}
                            </div>

                        </div>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
