{{ form_start(form) }}


<div class="row">
    <div id="season_year" class="col-lg-6">
        {{ form_row(form.year) }}
    </div>

    <div class="col-lg-2 offset-lg-4"></div>
</div>

<div class="row">
    <div id="season_description" class="col-lg-6 mt-lg-3 mt-md-5">
        {{ form_row(form.description) }}
    </div>

    <div class="col-lg-2 offset-lg-4 mt-lg-3 mt-md-5"></div>
</div>

<button class="button mt-3 mb-md-4 mb-lg-0">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
