{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <div class="container mt-4">

        <div class="d-flex mt-3">
            <h3 class="mt-0">{{ season.program.title }}</h3>
            <a href="{{ path('season_edit', {'id': season.id}) }}"
               class="actionSeason mx-4">
                <i class='fa fa-pencil'></i>
            </a>
            {{ include('season/_delete_form.html.twig') }}
        </div>

        <div class="info-season">Saison: <span class="season-year ml-3">{{ season.year }}</span></div>
        <div class="info-season">Description: <span class="season-year ml-3">{{ season.description }}</span></div>

        <div class="mt-4">
            <a href="{{ path('season_index') }}" class="backProgram">
                <i class='fa fa-mail-reply mr-2'></i>
                Retour à la liste des saisons</a>
        </div>
    </div>

{% endblock %}
