{{ form_start(form) }}

<div class="row">

    <div class="col-lg-6 d-flex flex-column align-items-center">
        <div id="program_title" class="mt-lg-3 mt-md-5">
            {{ form_row(form.title) }}
        </div>

        <div id="program_category" class="mt-lg-3 mt-md-5">
            {{ form_row(form.category) }}
        </div>

        <div id="program_poster" class="mt-lg-3 mt-md-5">
            {{ form_row(form.poster) }}
        </div>
    </div>

    <div class="col-lg-6 d-flex flex-column align-items-center">
        <div id="program_summary" class="mt-lg-3 mt-md-5">
            {{ form_row(form.summary) }}
        </div>

        <div id="program_actors" class="mt-lg-3 mt-md-5">
            {{ form_row(form.actors) }}
        </div>

        <div id="" class="mb-lg-3 mb-md-5 mt-lg-4 mt-md-5">
            <a href="{{ path('actor_new') }}" class="actor">
                <i class='fa fa-plus fa-plus-navbar mr-2' style='font-size:1em;color:#00fff7'></i>
                Ajouter un nouvel acteur
            </a>
        </div>
    </div>

</div>

<button class="button mt-3 mb-md-4 mb-lg-0 mx-auto">{{ button_label|default('Ajouter') }}</button>

{{ form_end(form) }}
