{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container mt-3">

        <h2>Mes séries </h2>

        <a href="{{ path('program_new') }}" class="addProgram">Ajouter une série</a>

        {% for category in categories %}
            <h3>{{ category.name }}</h3>

            <div class="row mb-4 mt-2">

                {% for program in category.programs %}
                    <div class="col-lg-2 col-md-4">

                        <div class="card card-program">
                            <img class="card-img-top card-img-program" src="{{ program.poster }}" alt="Card image cap">
                            <div class="card-body card-body-program">
                                <div class="card-text">
                                    <a href="{{ path('program_show', {'id': program.id}) }}"
                                       class="details-season">
                                        + détails</a>
                                </div>
                            </div>
                        </div>

                    </div>

                {% endfor %}

            </div>

        {% endfor %}

    </div>
{% endblock %}
