{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">

        <div class="d-flex mt-3">
            <h2 class="mt-0">{{ program.title }}</h2>
            <a href="{{ path('program_edit', {'slug': program.slug}) }}"
               class="mx-lg-4 mx-md-5">
                <i class='fa fa-pencil icon-crud'></i>
            </a>
            {{ include('program/_delete_form.html.twig') }}
        </div>

        <h4 class="my-lg-4 my-md-5">Description: <span class="info-program-crud ml-2">{{ program.summary }}</span></h4>

        <div>
            <a href="{{ path('program_index') }}" class="back_crud">
                <i class='fa fa-mail-reply mr-2'></i>
                Retour à la liste des séries</a>
        </div>
    </div>

{% endblock %}
