{% extends 'base.html.twig' %}

{% block title %} Episode {{ episode.number }}{% endblock %}

{% block body %}

    <div class="container-fluid d-flex">
        <h3><a href="{{ path('wild_index') }}" class="backSeries"><span>S</span>éries > </a></h3>
        <h3 class="ml-3"><a href="{{ path('show_category', {'categoryName': episode.season.program.category.name}) }}"
                            class="backSeries">{{ episode.season.program.category.name }} ></a></h3>
        <h3 class="ml-3"><a href="{{ path('show_program', {'programName': episode.season.program.title}) }}"
                            class="backSeries">{{ episode.season.program.title }} ></a></h3>
        <h3 class="ml-3"><a href="{{ path('show_season', {'id': episode.season.id}) }}"
                            class="backSeries">Episodes ></a></h3>
        <h3 class="ml-3">Episode {{ episode.number }}</h3>
    </div>

    <div class="ml-3 mr-3 mb-5 program">
        <h2 class="descriptionProgram">{{ episode.season.year }} - {{ episode.season.program.title }}</h2>
        <p class="descriptionProgram">{{ episode.season.description }}</p>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-start">

            <div class="col-lg-6 col-8">
                <div class="card bg-dark text-white cardEpisodesDescription mb-5 p-3">
                    <div class="row">
                        <div class="col-lg-8 col-8">
                            <h5 class="card-title titleEpisode">Episode {{ episode.number }}</h5>
                            <p class="card-text smallTitleEpisode">{{ episode.title }}</p>
                            <p class="card-text textEpisode">{{ episode.synopsis }}
                        </div>
                        <div class="col-lg-4 col-4 align-items-center">
                            <img src="{{ episode.season.program.poster }}" class="card-img imgEpisodeDescription"
                                 alt="...">
                        </div>
                    </div>
                </div>
            </div>

            {% if app.user %}
                <div class="col-lg-6 col-12">
                    {{ include('comment/new.html.twig') }}
                </div>

                <div class="container comments mb-5 p-2">
                    <h3 class="comment-title">Commentaires</h3>
                    {% for comment in comments %}
                        <div>
                            {% if comment.author.email == app.user.username %}<span class="username-me">Moi</span>
                            {% else %}<span class="username">{{ comment.author.email }}</span>{% endif %}
                            (Vote: {{ comment.rate }}/5)
                        </div>
                        <div>
                            {{ comment.comment }}
                        </div>
                        <div class="breaker"></div>

                    {% else %}
                        <p>Aucun commentaire</p>
                    {% endfor %}
                </div>
            {% else %}
                <a href="{{ path('app_login') }}" class="backProgram">
                    <p>Connectez-vous ici pour accéder aux commentaires</p>
                </a>
            {% endif %}

        </div>
    </div>

{% endblock %}