{% extends 'base.html.twig' %}

{% block title %} Toutes nos séries {% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-wrap mb-lg-2 mb-md-5">
        <h3 class="index-program mt-md-5 mt-lg-4"><span>S</span>éries</h3>

        <!-- PC -->
        <div class="d-none d-lg-block mt-4 ml-3">
            <div class="dropdown show">
                <a class="btn button dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Genres
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for category in categories %}
                        <a href="{{ path('show_category', { 'categoryName': category.name }) }}"
                           class="d-flex flex-column dropdown-text">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>

        <!-- MOBILE -->
        <!-- Button trigger modal -->
        <div class="d-block d-lg-none mt-5">
            <button type="button" class="button ml-4" data-toggle="modal"
                    data-target="#modelId">
                Genres
                <i class="fa fa-caret-down ml-3" style="font-size:1em;color:white"></i>
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="span-modal">&times;</span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container-fluid mt-5">
                            {% for category in categories %}
                                <a href="{{ path('show_category', { 'categoryName': category.name }) }}"
                                   class="link-modal d-flex flex-column mt-3">
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- CAROUSEL PC -->
    <div class="container-fluid my-4 d-none d-lg-block">
        {% for category in categories %}
            <h4 class="mt-5 ml-3">{{ category.name }}</h4>
            {% if category.programs|length > 0 %}

                <div id="carouselExampleControls" class="carousel slide my-3" data-ride="carousel"
                     data-interval="false">
                    <div class="carousel-inner">
                        {% for program in category.programs|batch(5) %}

                            <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                                <div class="row no-gutters">
                                    {% for image in program %}
                                        <div class="col d-flex justify-content-around">
                                            <a href="{{ path('show_program', {'slug': image.slug }) }}">
                                                <img src="{{ image.poster }}" class="card-img-top" alt="..."
                                                     style="height: 15em; width: 11em;">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>

            {% else %}
                <p class="no-programs">Aucune série trouvée</p>
            {% endif %}
        {% endfor %}
    </div>

    <!-- CAROUSEL MOBILE -->
    <div class="container-fluid my-4 d-block d-lg-none">
        {% for category in categories %}
            <h4 class="mt-5 ml-3">{{ category.name }}</h4>
            {% if category.programs|length > 0 %}

                <div id="carouselExampleControls" class="carousel slide my-3" data-ride="carousel"
                     data-interval="false">
                    <div class="carousel-inner">
                        {% for program in category.programs|batch(3) %}

                            <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                                <div class="row no-gutters">
                                    {% for image in program %}
                                        <div class="col d-flex justify-content-around">
                                            <a href="{{ path('show_program', {'slug': image.slug }) }}">
                                                <img src="{{ image.poster }}" class="card-img-top" alt="..."
                                                     style="height: 22em; width: 17em;">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>

            {% else %}
                <p class="no-programs">Aucune série trouvée</p>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

