{% extends 'base.html.twig' %}

{% block title 'Ajouter un acteur' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container mt-4">
        <div class="row">

            <div class="col-lg-6 col-md-12">
                <h2>Mes acteurs</h2>

                {% for actor in actors|sort((a, b) => a.name <=> b.name) %}
                    <div class="my_categories d-flex mt-1">
                        {{ loop.index }}- {{ actor.name }}
                        <a href="{{ path('actor_edit', {'slug': actor.slug}) }}"
                           class="actionSeason mx-4">
                            <i class='fa fa-pencil fa-pencil-actor'></i>
                        </a>
                        {{ include('actor/_delete_form.html.twig') }}
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-6 col-md-12 add_category">
                <h2 class="mb-3">Ajouter un acteur</h2>
                {{ include('actor/_form.html.twig') }}
            </div>

        </div>
    </div>

{% endblock %}
